<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>URL Shortener</title>
  </head>
  <body style="background-color:#2F2F42;text-align:center">
    <div class = "container my-4" style="color:whitesmoke">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">URL Shortener</h1>
          <p class="lead">Easily create short, memorable links that redirect to desired destination.</p>
        </div>
      </div>
      <form action="/shortenURL" method="POST" class="form-inline m-5">
        <div class="input-group">
          <input type="text" id="longURL" name="longURL" class="form-control" placeholder="Enter the URL">
          <button class="btn btn-outline-light" type="submit" id="submit">Submit</button>
        </div>
      </form>
      <table class="table table-sm table-responsive table-borderless table-hover" style="color:whitesmoke">
        <thead>
          <tr>
            <th>Long URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% allURLs.forEach(URL => { %>
            <tr>
              <td>
                <a href="<%= URL.longURL %>" style="color:whitesmoke"><%= URL.longURL %></a>
              </td>
              <td>
                <a href="<%= URL.shortURL %>" style="color:whitesmoke"><%= URL.shortURL %></a>
              </td>
              <td style="color:whitesmoke"><%= URL.clicks %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
    </div>
  </body>
</html>